{% extends 'base.html' %}


{% block head_title %}
Suppliers
{% endblock head_title %}


{% block content %}
<div class="container my-5">
        <h1 class="fs-1 list-inline-item ">Suppliers</h1>
        <hr>
            <a href="{% url 'suppliers:supplier-create' %}"
                class="btn btn-dark px-5 text-end">add</a>
                <div class="my-5">
    {% for object in object_list %}
    <a href="{{object.get_absolute_url }}">
        {{object.name|title}}
        <br>
    </a>
    {% endfor %}
</div>
</div>
{% endblock content %}