{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block head_title %}
Suppliers
{% endblock head_title %}


{% block content %}



<div class="m-5">
    <div class="row">

        <div class="card mx-auto px-0"
            style="max-width: 60%">
            <h5 class="card-header text-center">Suppliers</h5>

            <form class="m-5"
                action="{% url 'suppliers:supplier-search' %}"
                method="get">
                <input class="form-control form-control-sm rounded-pill"
                    type="text"
                    name="q"
                    placeholder="search suppliers by (name, description, email, phone, address, district)..."
                    aria-label="Search">
            </form>
            <div class="card-body">
                {% include 'pagination.html' %}
                <div class="table-responsive">
                    <table class="table table-hover small">
                        <thead>
                            <tr>
                                <th scope="col">supplier</th>
                                <th scope="col">phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for supplier in suppliers %}
                            <tr>
                                <td>
                                    <a title="product details"
                                        class="text-decoration-none text-dark"
                                        href="{{supplier.get_absolute_url }}">
                                        {{supplier.name}}
                                    </a>
                                <td title="phone">
                                    <a
                                        href="tel:{{supplier.phone|default:'--'}}">
                                        {{supplier.phone}}
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td class="text-center"
                                    colspan="2">
                                    No Suppliers
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'pagination.html' %}

            </div>
        </div>
        <div class="card mx-auto px-0"
            style="max-width: 30%;">
            <h5 class="card-header text-center">Add</h5>

            <div class="card-body">
                <form action="{% url 'suppliers:supplier-create' %}"
                    method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button class="btn btn-dark px-5 my-3"
                        type="submit">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
