{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block head_title %}
Suppliers
{% endblock head_title %}


{% block content %}
<div class="container my-5">
<form class="
    col-12
    col-lg-auto
    my-3
    mb-lg-0
    me-lg-3"
    action="{% url 'suppliers:supplier-search' %}">
    <input class="form-control"
            type="text"
            name="q"
            placeholder="Search..."
            aria-label="Search">
</form>
</div>
<div class="container my-5">
    
    <h1 class="fs-1 list-inline-item ">Suppliers</h1>
    <hr>
    <a href="{% url 'suppliers:supplier-create' %}"
        class="btn btn-dark px-5 text-end">add</a>
    <div class="my-5">
        <div class="row">
           
            <div class="col">
                <div class="my-5">
                    <h2 class="fs-2">Suppliers</h2>
                    <hr>
                    {% include 'pagination.html' %}
                    <div class="table-responsive">
                        <table class="table table-hover small">
                            <thead>
                                <tr>
                                    <th scope="col">supplier</th>
                                    <th scope="col">phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for supplier in suppliers %}
                                <tr>
                                    <td>
                                        <a title="product details"
                                            class="text-decoration-none text-dark"
                                            href="{{supplier.get_absolute_url }}">
                                            {{supplier.name}}
                                        </a>
                                        <!-- </td>
                                    <td title="email">
                                        <a
                                            href="mailto:{{supplier.email|default:'--'}}">
                                            {{supplier.email}}
                                        </a>
                                    </td> -->
                                    <td title="phone">
                                        <a
                                            href="tel:{{supplier.phone|default:'--'}}">
                                            {{supplier.phone}}
                                        </a>
                                    </td>
                                    <!-- <td title="website">
                                        <a target="_blank"
                                            href="{{supplier.email|default:'--'}}">
                                            {{supplier.website}}
                                        </a>
                                    </td> -->
                                </tr>
                                </a>
                                {% empty %}
                                <td colspan="4"
                                    class="text-center">No Suppliers
                                    <td />
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include 'pagination.html' %}

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}