{% extends 'base.html' %}


{% block head_title %}
Products
{% endblock head_title %}


{% block content %}
<div class="container my-5">
        <h1 class="fs-1 list-inline-item ">Products</h1>
        <hr>
            <a href="{% url 'products:product-create' %}"
                class="btn btn-dark px-5 text-end">add</a>
                <div class="my-5">
    {% for product in products %}
    <a href="{{product.get_absolute_url }}">
        {{product.name|title}}
        <br>
    </a>
    {% empty %}
    <p class="text-center">No Products</p>
    {% endfor %}
</div>
</div>
{% endblock content %}