{% extends 'base.html' %}


{% block head_title %}
Products
{% endblock head_title %}


{% block content %}

<div class="container my-5">
    <h1 class="fs-1 list-inline-item ">Products</h1>
    <hr>
    <a href="{% url 'products:product-create' %}"
        class="btn btn-dark px-5 text-end">add</a>
    <div class="my-5">
        {% include 'pagination.html' %}
        <div class="table-responsive">
            <table class="table table-hover small">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            <a title="product details" class="text-decoration-none text-dark" href="{{product.get_absolute_url }}">
                                {{product.name}}
                            </a>
                        </td>
                        <td title="balance">
                            {{product.get_inventory_balance}}
                        </td>
                    </tr>
                    </a>
                    {% empty %}
                    <p class="text-center">No Products</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'pagination.html' %}

    </div>
</div>
{% endblock content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@mdo</td>
        </tr>





    </tbody>
</table>