{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head_title %}
Products
{% endblock head_title %}


{% block content %}

<div class="container my-5">
    <h1 class="fs-1 list-inline-item ">Products</h1>
    <hr>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-dark px-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
    New
  </button>
   
    <div class="my-5">
        {% include 'pagination.html' %}
        <div class="table-responsive">
            <table class="table table-hover small">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            <a title="product details" class="text-decoration-none text-dark" href="{{product.get_absolute_url }}">
                                {{product.name}}
                            </a>
                        </td>
                        <td title="balance">
                            {{product.get_inventory_balance}}
                        </td>
                    </tr>
                    </a>
                    {% empty %}
                    <p class="text-center">No Products</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'pagination.html' %}

    </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body small">
         <form class="p-5" action="{% url 'products:product-create' %}" method="post">
           {% csrf_token %}
             {{form|crispy}}
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark px-5" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-dark px-5">Save</button>
        </form>
        </div>
      </div>
      </div>
    </div>
  </div>
{% endblock content %}

