<header class="p-3 mb-3 border-bottom bg-dark">
        <div class="container">
                <div
                        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <ul
                                class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                <li><a href="#"
                                                class="nav-link px-2 link-dark dropdown-toggle text-light"
                                                href="#"
                                                id="navbarDarkDropdownMenuLink"
                                                role="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">Products</a>
                                        <ul class="dropdown-menu"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item"
                                                                href="{% url 'products:product-list' %}">Product List</a>
                                                </li>
                                                <li><a class="dropdown-item"
                                                                href="#">Another
                                                                action</a></li>
                                                <li><a class="dropdown-item"
                                                                href="#">Something
                                                                else here</a>
                                                </li>
                                                <li>
                                                        <hr
                                                                class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item"
                                                                href="#">Action</a>
                                                </li>
                                                <li><a class="dropdown-item"
                                                                href="#">Another
                                                                action</a></li>
                                                <li><a class="dropdown-item"
                                                                href="#">Something
                                                                else here</a>
                                                </li>
                                        </ul>
                                </li>
                                <li><a href="#"
                                                class="nav-link px-2 link-dark dropdown-toggle text-light"
                                                href="#"
                                                id="navbarDarkDropdownMenuLink"
                                                role="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">Inventory</a>
                                        <ul class="dropdown-menu"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item"
                                                                href="#">Action</a>
                                                </li>
                                                <li><a class="dropdown-item"
                                                                href="#">Another
                                                                action</a></li>
                                                <li><a class="dropdown-item"
                                                                href="#">Something
                                                                else here</a>
                                                </li>
                                        </ul>
                                </li>
                                <li><a href="#"
                                                class="nav-link px-2 link-dark dropdown-toggle text-light"
                                                href="#"
                                                id="navbarDarkDropdownMenuLink"
                                                role="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">Suppliers</a>
                                        <ul class="dropdown-menu"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item"
                                                                href="{% url 'suppliers:supplier-list' %}">Supplier List</a>
                                                </li>
                                                <li><a class="dropdown-item"
                                                                href="#">Another
                                                                action</a></li>
                                                <li><a class="dropdown-item"
                                                                href="#">Something
                                                                else here</a>
                                                </li>
                                        </ul>
                                </li>
                                <li><a href="#"
                                                class="nav-link px-2 link-dark dropdown-toggle text-light"
                                                href="#"
                                                id="navbarDarkDropdownMenuLink"
                                                role="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">Products</a>
                                        <ul class="dropdown-menu"
                                                aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item"
                                                                href="#">Action</a>
                                                </li>
                                                <li><a class="dropdown-item"
                                                                href="#">Another
                                                                action</a></li>
                                                <li><a class="dropdown-item"
                                                                href="#">Something
                                                                else here</a>
                                                </li>
                                        </ul>
                                </li>
                        </ul>

                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                                <input type="search"
                                        class="form-control"
                                        placeholder="Search..."
                                        aria-label="Search">
                        </form>
                        {% if user.is_authenticated %}

                        <div class="dropdown text-end">

                                <a href="#"
                                        class="d-block link-dark text-decoration-none dropdown-toggle text-light"
                                        id="dropdownUser1"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <img src="https://github.com/mdo.png"
                                                alt="mdo"
                                                width="32"
                                                height="32"
                                                class="rounded-circle">
                                </a>
                                <ul class="dropdown-menu text-small"
                                        aria-labelledby="dropdownUser1">

                                        <li><a class="dropdown-item"
                                                        href="{% url 'account_email' %}">Change
                                                        E-mai</a>
                                        </li>
                                        <li>
                                                <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item"
                                                        href="{% url 'account_logout' %}">Sign
                                                        out</a></li>


                                </ul>
                        </div>
                        {% endif %}

                </div>
        </div>
</header>
<header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
                <a href="/"
                        class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                        <svg class="bi me-2"
                                width="40"
                                height="32">
                                <use xlink:href="#bootstrap" />
                        </svg>
                        <span class="fs-4">SEO</span>
                </a>
                <div class="text-end">
                        {% if user.is_authenticated %}

                        {% else %}

                        <a href="{% url 'account_login' %}"
                                class="btn btn-outline-dark me-2">Login</a>
                        <a href="{% url 'account_signup' %}"
                                class="btn btn-dark">Register</a>
                        {% endif %}
                </div>
        </div>
</header>