{% extends 'base.html' %}


{% block head_title %}
Home
{% endblock head_title %}



{% block content %}
<div class="container my-5">
    <h1 class="fs-1">Welcome to the home page!</h1>
    <hr>
   
    <div class="container my-5">
        <a href="{% url 'products:product-list' %}">Products</a>
        <hr>
        <a href="{% url 'suppliers:supplier-list' %}">Supplier</a>
        <hr>
        <a href="{% url 'suppliers:supplier-list' %}">Supplier</a>
        <hr>
    </div>
</div>
{% endblock content %}